.header{
  box-sizing: border-box;
  height: 150px;
  width: 100vw;
  padding: 30px 50px ;
  z-index: 100;
  position:fixed;
  background-color: #ffffff;

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    &__left{
    }

    &__right{
      font-size:25px;
      &__user-area{
        &__login{
          margin-right: 30px;
        }
        &__signup{
        }
      }
    }
  }
}

a{
  text-decoration: none;
  color:#000000
}
a:hover{
  opacity:0.5
}