.user-body
  .userHeader
    =image_tag 'icon/main-icon-emblemmatic-recommended-item-logo-466.png',alt: "main-icon", width:500, height:70

  .userMain
    .userMain__title
      ログイン
    .userMain__contents
      =form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
        .userMain__contents__field
          .userMain__contents__field__mail
            -# =f.label :email,class: "user-input-title"
            .user-input-title
              Email
            =f.email_field :email, autofocus: true, placeholder:"メールアドレス",class:"user-input-area"
          .userMain__contents__field__pass
            .user-input-title
              Password
            -# =f.label :password,class: "user-input-title"
            =f.password_field :password, autocomplete: "off",placeholder:"パスワード",class:"user-input-area"
          .userMain__contents__field__save
            =f.check_box :remember_me
            .user-input-title-remember
              サインイン状態を維持
          .userMain__contents__field__login
            =f.submit "サインインする"
  =link_to new_user_registration_path do
    .signup
      新規登録


-# <div class="contents row">
-#   <div class="container">
  
-#     <h2>Log in</h2>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
-#       <div class="field">
-#         <%= f.label :email %><br />
-#         <%= f.email_field :email, autofocus: true %>
-#       </div>

-#       <div class="field">
-#         <%= f.label :password %><br />
-#         <%= f.password_field :password, autocomplete: "off" %>
-#       </div>

-#       <% if devise_mapping.rememberable? %>
-#         <div class="field">
-#           <%= f.label :remember_me %><br />
-#           <%= f.check_box :remember_me %>
-#         </div>
-#       <% end -%>

-#       <div class="actions">
-#         <%= f.submit "Log in" %>
-#       </div>
-#     <% end %>

-#     <%=link_to "sign up", new_user_registration_path %>


-#   </div>
-# </div>
