.header
  .header__content
    .header__content__left
      .header__content__left__icon
        =link_to root_path do
          =image_tag 'icon/main-icon-emblemmatic-recommended-item-logo-466.png',alt: "main-image", width:510, height:90
    .header__content__right
      .header__content__right__user-area
        =link_to "Log in" ,"#",class:'header__content__right__user-area__login'
        =link_to "Sign up" ,"#",class:'header__content__right__user-area__signup'
