.mainTitle
  .mainTitle__content
    .mainTitle__content__icon
      =link_to root_path do
        =image_tag 'icon/main-icon-emblemmatic-recommended-item-logo-466.png',alt: "main-icon", width:700, height:100
    =image_tag 'icon/sub-icon-emblemmatic-portfolio-of-ryo-akiyama-logo-149.png',alt: "sub-icon", width:470, height:50,class:'mainTitle__content__subicon'