%body
  =render partial: 'header'  
  =render partial: 'mainTitle'

  .contentArea
    -# =@items.each do |item|
    .contentArea__box
      .contentArea__box__content
        .contentArea__box__content__userArea
          Taro Yamada
        .contentArea__box__content__inside
          .contentArea__box__content__inside__imageArea
            .contentArea__box__content__inside__imageArea__text
              メロンパン
            =image_tag 'henry-co-fhT1fqukEK8-unsplash.jpg',alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
          .contentArea__box__content__inside__textarea
            .contentArea__box__content__inside__textarea__text
              Product Description
              %table
                %tbody
                  %tr
                    %th
                      Name
                    %td
                      美味しいメロンパンです

                  %tr
                    %th
                      Price
                    %td
                      120円
                    
                  %tr
                    %th
                      Rating
                    %td
                      ★★★☆☆

                  %tr
                    %th
                      Link
                    %td
                      https-------


    .contentArea__box
      .contentArea__box__content
        .contentArea__box__content__userArea
          Ryo Akiyama
        .contentArea__box__content__inside
          .contentArea__box__content__inside__imageArea
            .contentArea__box__content__inside__imageArea__text
              ハンバーガー
            =image_tag 'photo-1595255669512-144851438b8b.jpeg',alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
          .contentArea__box__content__inside__textarea
            .contentArea__box__content__inside__textarea__text
              Product Description
              %table
                %tbody
                  %tr
                    %th
                      Name
                    %td
                      おいしいハンバーガーです

                  %tr
                    %th
                      Price
                    %td
                      500円
                    
                  %tr
                    %th
                      Rating
                    %td
                      ★★★★☆

                  %tr
                    %th
                      Link
                    %td
                      https-------

    .contentArea__box
      .contentArea__box__content
        .contentArea__box__content__userArea
          Ryo Akiyama
        .contentArea__box__content__inside
          .contentArea__box__content__inside__imageArea
            .contentArea__box__content__inside__imageArea__text
              スニーカー
            =image_tag 'photo-1565379793984-e65b51b33b37.jpeg',alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
          .contentArea__box__content__inside__textarea
            .contentArea__box__content__inside__textarea__text
              Product Description
              %table
                %tbody
                  %tr
                    %th
                      Name
                    %td
                      お気に入りのスニーカーです

                  %tr
                    %th
                      Price
                    %td
                      7000円
                    
                  %tr
                    %th
                      Rating
                    %td
                      ★★★★☆

                  %tr
                    %th
                      Link
                    %td
                      https-------

                        


  =render partial: 'postArea'
