%body
  =render partial: 'header'  
  =render partial: 'mainTitle'

  .contentArea
    -@items.each do |item|
      .contentArea__box
        .contentArea__box__content
          .contentArea__box__content__userArea
            .contentArea__box__content__userArea__user
              =item.user.name
            .contentArea__box__content__userArea__edit
              -# -if item.user_id == current_user.id
              =link_to "Delete", item_path(item), method: :delete, data: { confirm: '削除しますか？' },class:"contentArea__box__content__userArea__edit__btn"
          .contentArea__box__content__inside
            .contentArea__box__content__inside__imageArea
              .contentArea__box__content__inside__imageArea__text
                =item.name
              =image_tag item.image.url ,alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
            .contentArea__box__content__inside__textarea
              .contentArea__box__content__inside__textarea__text
                Product Description
                %table
                  %tbody
                    %tr
                      %th
                        Name
                      %td
                        =item.introduce
                    %tr
                      %th
                        Brand
                      %td
                        =item.brand
                    %tr
                      %th
                        Category
                      %td
                        =item.category
                    %tr
                      %th
                        Price
                      %td
                        =item.price
                        円
                    %tr
                      %th
                        Rating
                      %td
                        .star-rating{id: "star-rating-#{item.id}"}
                        :javascript
                          $(function raty(){
                            $('#star-rating-#{item.id}').raty({  
                            size: 50 ,
                            number: 5 ,
                            score: #{item.rating} ,
                            half: true,
                            path: '/assets/',  
                            readOnly: true,  
                            half: true,
                            scoreName: 'item[rating]' 
                            });
                          })






  =render partial: 'postArea'
