%body
  =render partial: 'header'  
  =render partial: 'mainTitle'

  .contentArea
    .contentArea__box
      .contentArea__box__content
        .contentArea__box__content__userArea
          Taro Yamada
        .contentArea__box__content__inside
          .contentArea__box__content__inside__imageArea
            .contentArea__box__content__inside__imageArea__text
              メロンパン
            =image_tag 'henry-co-fhT1fqukEK8-unsplash.jpg',alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
          .contentArea__box__content__inside__textarea
            .contentArea__box__content__inside__textarea__text
              Product Description
              %table
                %tbody
                  %tr
                    %th
                      Name
                    %td
                      美味しいメロンパンです

                  %tr
                    %th
                      Price
                    %td
                      120円
                    
                  %tr
                    %th
                      Rating
                    %td
                      ★★★☆☆

                  %tr
                    %th
                      Link
                    %td
                      https-------


    .contentArea__box
      .contentArea__box__content
        .contentArea__box__content__userArea
          Ryo Akiyama
        .contentArea__box__content__inside
          .contentArea__box__content__inside__imageArea
            .contentArea__box__content__inside__imageArea__text
              ハンバーガー
            =image_tag 'photo-1595255669512-144851438b8b.jpeg',alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
          .contentArea__box__content__inside__textarea
            .contentArea__box__content__inside__textarea__text
              Product Description
              %table
                %tbody
                  %tr
                    %th
                      Name
                    %td
                      おいしいハンバーガーです

                  %tr
                    %th
                      Price
                    %td
                      500円
                    
                  %tr
                    %th
                      Rating
                    %td
                      ★★★★☆

                  %tr
                    %th
                      Link
                    %td
                      https-------

    -@items.each do |item|
      .contentArea__box
        .contentArea__box__content
          .contentArea__box__content__userArea
            Taro Yamada
          .contentArea__box__content__inside
            .contentArea__box__content__inside__imageArea
              .contentArea__box__content__inside__imageArea__text
                =item.name
              =image_tag item.image.url ,alt:"content-image",width:490,height:320,class: 'contentArea__box__content__inside__imageArea__image' 
            .contentArea__box__content__inside__textarea
              .contentArea__box__content__inside__textarea__text
                Product Description
                %table
                  %tbody
                    %tr
                      %th
                        Name
                      %td
                        =item.introduce

                    %tr
                      %th
                        Brand
                      %td
                        =item.brand

                    %tr
                      %th
                        Price
                      %td
                        =item.price
                        円
                      
                    %tr
                      %th
                        Rating
                      %td
                        .star-rating{id: "star-rating-#{item.id}"}
                        :javascript
                          $(function raty(){
                            $('#star-rating-#{item.id}').raty({  
                            size: 50 ,
                            number: 5 ,
                            score: #{item.rating} ,
                            half: true,
                            path: '/assets/',  
                            readOnly: true,  
                            half: true,
                            scoreName: 'item[rating]' 
                            });
                          })






  =render partial: 'postArea'
